<div ng-controller="allCtrl">
<h4>Level 2</h4>
    <br />
    <div style=" padding-left:20px; border:1px solid #003399;">

        <div style="width:20%; float: left; line-height: 25px;">
            <label>First Name :</label><br />
            <label>Middle Name :</label><br />
            <label>Last Name :</label><br />
            <label>Country :</label>
        </div>

        <div style="width: 20%;float: left; line-height: 30px;">
            <input type="text" ng-model="Main.FirstName" /><br />
            <input type="text" ng-model="Main.MiddleName" /><br />
            <input type="text" ng-model="Main.LastName" /><br />
            <select style="width:155px " ng-model="Main.Country" ng-options="cou.Name as cou.Name for cou in Countries">
                <option value="">Select </option>
            </select>
            <br />
            <br />
            <button ng-click="submit(Main)">submit</button>
        </div>
        <div style="width: 50%;float: left; vertical-align: top;">
            <div style="border: 1px solid rgb(212,212,212);width: 600px;height: 300px;"
                 ng-grid="gridOptions">
            </div>
        </div>


    </div>

</div>
